section.main{
    background: #eee;
}


.toggle-btn{
    width: 45px;
    height: 23px;
    background-color:#ccc;
    padding: 5px;
    border-radius: 50px;
    position: relative;
    transform: scale(1.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.toggle-btn .ball{
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: all 0.2s linear;
}
.moved{
    transform: translateX(21px);
}
.toggled{
    background:rgba(95,201,52,1);
}

.sub-plans{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
}
@media screen and (max-width:600px) {
    .sub-plans{
        flex-direction: column;
    }
}